.site__header {
	background: #e6e6e6;
	border-top: 2px solid #444444;
	border-bottom: 2px solid #444444;
	padding: 5px;
	text-align: center;
	font-size: 14px;
}

.site__search {
	padding: 20px 10px;
}

.site__info {
	padding: 20px 10px 5px 10px;
	border-top: 2px solid #0055aa;
	border-bottom: 2px solid #0055aa;
	color: #0055aa;
}

.site__info_background-1 {
	background: #efefef;
}